@charset "utf-8";

form {
    min-width: 600px;
    width: calc(100vw - 200px);
    background: #f8f7f3;
    margin: 50px auto;
    padding: 0;
}
input {
    border: none;
    background: #fff;
    height: 25px;
    outline: none;
    min-width: 400px;
    width: calc(100vw - 350px);
}
.flex {
    display: flex;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
}
.ul_top {
    height: 30px;
    line-height: 30px;
    background: #eddedb;
    border: 1px solid #bf978f;
}
.li_width {
    min-width: 100px;
    width: 150px;
    text-align: center;
}
.contents {
    margin-top: 10px;
}
textarea {
    min-width: 400px;
    width: calc(100vw - 360px);
    height: 350px;
    border: none;
    resize: none;
    outline: none;
}
.btn_area {
    position: relative;
}
