@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

/* table */
table {
    min-width: 600px;
    width: calc(100vw - 200px);
    border: 1px solid #bf978f;
    margin: 50px auto;
    box-shadow: 3px 3px 8px rgba(208, 56, 41, 0.6);
}
table thead {
    background-color: #eddedb;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #bf978f;
    height: 30px;
    line-height: 30px;
}
table thead tr th {
    border-right: 1px solid #bf978f;
}
tbody > tr:nth-child(2n) {
    background-color: #f8f7f3;
}
tbody > tr:nth-child(2n-1) {
    background: rgba(255, 255, 255, 0.5);
}
tbody > tr > td {
    text-align: center;
    border-right: 1px solid #bf978f;
    height: 30px;
    line-height: 30px;
}
tbody tr:hover {
    background-color: rgba(208, 56, 41, 0.95);
    color: #fff;
}
tbody tr:hover a {
    color: #fff;
}
.notice_no {
    min-width: 100px;
    width: 150px;
}
.notice_date {
    max-width: 200px;
}
.notice_title {
    min-width: 300px;
}

/* button */
.a_margin {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    min-width: 600px;
    width: calc(100vw - 200px);
    margin: 30px auto;
    text-align: center;
}
.hidden {
    visibility: hidden;
}
button.a_btn {
    position: absolute;
    right: 30px;
    top: 30px;
    background: #fff;
}

/* customizable snowflake styling */
.snowflake {
    color: #d03829;
    font-size: 1.5em;
    font-family: Arial;
    text-shadow: 0 0 1px rgb(252, 220, 225);
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes snowflakes-fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}
@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(0px);
    }
}
.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
}
/* Demo Purpose Only*/
.demo {
    font-family: "Raleway", sans-serif;
    color: red;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a {
    font-family: "Raleway", sans-serif;
    color: red;
}
